<h1>Office Days Calculator</h1>

<div>
  <label for="pto">Enter your PTO days:</label>
  <input
    type="number"
    id="pto"
    [(ngModel)]="PTO"
    (input)="calculateOfficeDays()"
    min="0"
    max="{{ totalBusinessDays }}"
  />
</div>

<div style="margin: 1em 0">
  <label for="month">Month:</label>
  <select id="month" [(ngModel)]="selectedMonth" (change)="onSelectionChange()">
    <option *ngFor="let month of months; let i = index" [value]="i">
      {{ month }}
    </option>
  </select>

  <label for="year">Year:</label>
  <select id="year" [(ngModel)]="selectedYear" (change)="onSelectionChange()">
    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>
</div>

<hr />

<h2>Breakdown</h2>
<ul>
  <li>Weekday holidays: {{ totalWeekdayHolidays }}</li>
  <li>Weekend days: {{ totalWeekendDays }}</li>
  <li>Total business days (-holidays, -weekends): {{ totalBusinessDays }}</li>
  <li>PTO days: {{ PTO }}</li>
</ul>

<p *ngIf="finalOfficeDays !== null">
  You should go to the office <strong>{{ finalOfficeDays }}</strong> day(s) this
  month.<br />
  (Exact: {{ exactOfficeDays.toFixed(2) }})
</p>

<hr />

<h2>Days off this month</h2>
<ul>
  <li *ngFor="let day of visibleDays">
    <span *ngIf="day.type === 'holiday'">📅</span>
    {{ day.date }} - {{ day.description }}
  </li>
</ul>

@if (holidaysOnWeekends.length > 0) {
<h2>Holidays we won't get to enjoy</h2>
<ul>
  <li *ngFor="let day of holidaysOnWeekends">
    <span *ngIf="day.type === 'holiday'">📅</span>
    {{ day.date }} - {{ day.description }}
  </li>
</ul>
}
